@font-face {
    font-family: 'Roboto';
    src: url(/assets/fonts/Roboto-Regular.ttf);
}

body {
    margin: 0 auto;
}
    
body, html, ul, ol, li, p, h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
}

div,
button {
    box-sizing: border-box;
}

.wrapper {
    width: 1600px;
    margin: 0 auto;
}

.hidden-title {
    visibility: hidden;
    position: absolute !important;
}

/** Intro-container: header **/

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}

.header-wrapper {
    background-color: #000000;
}

.list_link, .link_source {
    color: #FFFFFF;
    font-family: 'Roboto', 'Arial', 'Times New Roman', sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}

.link_about {
    color: #F9804B;
}

.list_link:active , .link_source:active{
    color: #F9804B;
}

.list_link:active~.link_about{
    color: #FFFFFF;
}

.nav-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 475px;
}

.nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 620px;
}

.nav-item {
    color: #FFFFFF;
}

/** Intro-section: Content container **/

.content_btn_link {
    text-decoration: none;
}

.content {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 575px;
    height: 780px;
}

.content_btn {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    display: block;
    height: 54px;
    width: 300px;
    z-index: 1;
}

.content_btn:hover {
    background: #E47209;
    cursor: pointer;
}

.content-wrapper {
    background-image: url(/assets/images/Giant-Panda.jpg);
    background-position: 50% 0;
}

.content-container {
    justify-content: flex-end;
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.content-title {
    color: #FFFFFF;
    font-family: 'Roboto', 'Arial', 'Times New Roman', sans-serif;
    font-size: 106px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 80px;
    position: relative;
    z-index: 1;
    top: 86px;
}

.content-title-colored {
    color: #FFEE2E;
}

.title-background { 
    position: absolute;
    top: 92px;
    left: calc(50% - 465px/2 + 239.5px);
}

.title-container {
    display: flex;
    height: 575px;
    width: 575px;
}

.link-title {
    color: #FFFFFF;
    font-family: 'Roboto', 'Arial', 'Times New Roman', sans-serif;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
}

/** About section **/

.about-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1160px;
}

.about_subtitle {
    color: #333B41;
    font-family: 'Roboto', 'Arial', 'Times New Roman', sans-serif;
    font-size: 16px;
    line-height: 21px;
}

.about_title {
    color: #333B41;
    font-family: 'Roboto', 'Arial', 'Times New Roman', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 57px;
}

.about_title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 178px;
    width: 465px;
}

.about_title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.about_flower-pic {
    position: absolute;
    top: 860px;
    left: 1548px;
}

.about-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 723px;
}

.howItWorks {
    color: #333B41;
    font-family: 'Roboto', 'Arial', 'Times New Roman', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.howItWorks-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 168px;
    width: 465px;
}